/* GENERAL STYLING */

:root {
	--background_color_one: #fff;
	--background_color_two:  #F4F4F4;
	--background_color_three: #E5E5E5;
	--text_color_black: #070707;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	background-color: var(--background_color_three);
}
.wrapper {
	width: 100%;
	max-width: 1445px;
	margin: 0 auto;
	background-color: var(--background_color_one);
	min-height: 10rem;
	box-sizing: border-box;
}
.inner-content-styling {
	width: 100%;
	max-width: 945px;
	margin: 0 auto;
	height: inherit;
}

/* NAVIGATION */

.navigation-group-wrapper {
	background-color: var(--background_color_one);
	min-height: 50px;
}


.navigation-group {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 700;
	line-height: 0px;
	padding-top: 40px;
	padding-bottom: 20px;
}
.navigation-group a {
	color: #828282;
	text-decoration: none;
}

.horizrule {
	width:100%; 
	border-top: 1px solid #828282;
	margin-left: auto;
	margin-right: auto;
}

.navigation-group .navigation-group__home-active {
	color: var(--text_color_black);
}
.navigation-group a.navigation-group__home-active,
.navigation-group a:hover {
	color: var(--text_color_black);
}
/* HOME PAGE */

.homepage-wrapper {
	height: 615px;
}
.homepage-logo {
	font-size: 47.34px;
	line-height: 55.48px;
	font-weight: 700;
	padding-top: 35px;
	color: var(--text_color_black);
	padding-bottom: 55px;
}
.inner-content-styling__homepage {
	display: flex;
	justify-content: space-between;
	margin-top: 0px;
	flex-flow: row wrap;
	padding-bottom: 100px;
}
.homepage-bio {
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	padding-top: 41px;
	text-align: right;
	color: var(--text_color_black);
	padding-bottom: 55px;
}
.inner-content-styling__homepage img {
	text-align: center;
	width: 945px;
	height: 500px;
}
/* ABOUT ME PAGE */

.aboutpage-wrapper {
	margin-top: 100px;
	background-color: var(--background_color_two);
	padding-bottom: 50px;
}
.inner-content-styling__aboutpage-title {
	font-size: 34px;
	font-weight: 700;
	line-height: 34px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 46px;
}
.inner-content-styling__aboutpage-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2.75rem;
}
.inner-content-styling__aboutpage-grid p {
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	padding-top: 96px;
	max-width: 450px;
}
.aboutpage-picture {
	max-width: 450px;
	max-width: 450px;
}
/* SKILLS PAGE */

.inner-content-styling .skillspage-wrapper {
	background-color: var(--background_color_one);
}
.skillspage-h2 h2 {
	font-size: 34px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
	padding-bottom: 50px;
}

.skillspage-item-group {
	display: flex;
	justify-content: space-between;
	padding-top: 0 auto;
	text-align: center;
	max-height: 87.86px;
	padding-bottom: 150px;
}
.skillspage-item-group__item h3 {
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 41px;
}

.h3-figma {
	margin-top: 30px;
}
/* PAGE SNEAKER  */

.sneakerspage-wrapper, .heliaspage-wrapper, .huang-nguenpage-wrapper {
	background-color: var(--background_color_two);
}
.sneakerspage-wrapper h2 {
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.sneakerspage-wrapper {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}
.sneakerspage-wrapper a {
	display: inline-block;
	color: var(--text_color_black);
	padding-top: 40px;
	padding-bottom: 86px;
}

.sneakers-pic, .helias-pic, .huang-nguen-pic {
	max-width: 945px;
	max-height: 510px;
}
/* PAGE HELIAS */

.heliaspage-wrapper {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}

.heliaspage-wrapper a {
	display: inline-block;
	color: var(--text_color_black);
	padding-top: 40px;
	padding-bottom: 86px;
}


/* PAGE HUANG NGUEN */

.huang-nguenpage-wrapper {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}

.huang-nguenpage-wrapper a {
	display: inline-block;
	color: var(--text_color_black);
	padding-top: 40px;
	padding-bottom: 86px;
}

.inner-content-styling-huang-nguenpage a {
	display: inline-block;
	color: var(--text_color_black);
	padding-top: 40px;
	padding-bottom: 50px;
}
/* PAGE CONTACTS */

.contactspage-h2 h2 {
	font-size: 34px;
	font-weight: 700;
	line-height: 39.84px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 37px;
}
.contactspage-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	max-width: 60%;
	margin: auto;
	padding-bottom: 60px;
}